<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Logowanie</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>MediCare Psychiatry</h1>
        </header>
        <h2>Logowanie</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class='form-label') }} {{ form.username(class='form-control') }}
            </div>
            <div class="form-group">
                {{ form.password.label(class='form-label') }} {{ form.password(class='form-control') }}
            </div>
            <div class="box-przycisk">
                <button type="submit" class="submit-btn">Zaloguj się</button>
            </div>
        </form>
    </div>
</body>
</html>
