<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Strona pielęgniarki</title>
</head>
<body>
    <div class="container">
        <h2>Witaj, Pielęgniarko!</h2>
        <p>Możesz dodawać i przeglądać raporty pacjentów.</p>
        <a href="{{ url_for('logout') }}">Wyloguj się</a>
    </div>
</body>
</html>